.author {
  margin-top: 20px;
  font-family: 'Oleo Script', cursive;
  font-size: 16px;
}
.content {
  margin-top: 20px;
  font-family: 'Abhaya Libre', serif;
  font-size: 14px;
  margin-bottom: 20px;
}
